
body{
    background-image:url('../Assets/image.jpg');
    background-size: cover;
    height: 160vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
  }
  .with-background {
    background-color: yellow;
    padding: 10px; 
    
  }
  